@import "./mixins.scss";

.ingredient {
  .description {
    text-align: justify;
  }
  .list-group-item {
    border: none;
    margin: 0;
    padding: 0;
  }
  @include define-img-sizes(
    "ingredient-img",
    200px,
    220px,
    240px,
    270px,
    300px
  );
}
