@import "./mixins.scss";

.meal {
  .title {
    
  }
  .meal-step {
    .title {
      padding: 0.5rem;
    }
    .description {
      text-align: justify;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  @include define-img-sizes(meal-img, 256px, 278px, 360px, 428px, 452px);
}