.meal .meal-title {
    width: 480px;
}

.meal .meal-step .title {
    padding: 0.5rem;
    border-bottom: 1px var(--main-color-gray) solid; 
}

.meal .meal-step .description {
    text-align: justify;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.meal img.meal-img {
    width: 480px;
    height: auto;
}

.meal .list-group-item {
    border-left: none;
    border-right: none;
}