@import "./bootstrap-mixins.scss";
@import "./variables.scss";

@mixin define-img-sizes($name, $xs, $sm, $md, $lg, $xl) {
  @include media-breakpoint-up(xs) {
    img.#{$name} {
      width: auto;
      height: $xs;
    }
  }

  @include media-breakpoint-up(sm) {
    img.#{$name}-sm {
      width: auto;
      height: $sm;
    }
  }

  @include media-breakpoint-up(md) {
    img.#{$name}-md {
      width: auto;
      height: $md;
    }
  }

  @include media-breakpoint-up(lg) {
    img.#{$name}-lg {
      width: auto;
      height: $lg;
    }
  }

  @include media-breakpoint-up(xl) {
    img.#{$name}-xl {
      width: auto;
      height: $xl;
    }
  }
}

@mixin define-navbar($size) {
  @include media-breakpoint-up(#{$size}) {
    .navbar-expand-#{$size} .navbar-nav .show .dropdown-menu .dropdown-item {
      color: $--main-color-text;
      background-color: $--main-color-lighter;
      transition: padding-left 0.2s ease;
    }
    .navbar-expand-#{$size}
      .navbar-nav
      .show
      .dropdown-menu
      .dropdown-item:hover,
    .navbar-expand-#{$size}
      .navbar-nav
      .show
      .dropdown-menu
      .dropdown-item:focus {
      color: $--main-color-text;
      background-color: $--main-color-lightest;
      padding-left: 2rem;
    }
    .navbar-expand-#{$size}
      .navbar-nav
      .show
      .dropdown-menu
      .dropdown-item.active {
      color: $--main-color-text;
      background-color: $--main-color-lightest;
    }
  }
}