$--main-color: #009933;
$--main-color-dark: #006b22;
$--main-color-lighter: #00b33c;
$--main-color-lightest: #00cc44;
$--main-color-lightest-70: #00cc44b2;
$--err-color-70: #ff0000b2;
$--main-color-text: #fff4f4;
$--main-color-text-dark: #006b22;
$--main-color-gray: #c9c9c9;

$--top-navbar-height: 56px;