html {
    scroll-behavior: smooth;
}

.row.ingr-item {
    background-color: cornflowerblue;
    border: solid wheat 1px;
    color: antiquewhite;
}

.loading-block {
    margin-top: 250px;
    display: block;
}

.top-navbar-offset {
    display: block;
    margin-top: 56px;
}

.navbar {
    background-color: #007bff;
}

.nav-item:hover {
    background-color: #68abf4;
    border-radius: 2px;
}

.navbar .nav-item:hover .nav-link {
    font-weight: 500;
}

.navbar .navbar-brand {
    color: #ecf0f1;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #fff4f4;
}

.navbar .navbar-text {
    color: #ecf0f1;
}

.navbar .navbar-text a {
    color: #fff4f4;
}

.navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
    color: #fff4f4;
}

.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #fff4f4;
}

.navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link, .navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fff4f4;
    background-color: #68abf4;
}

.navbar .navbar-toggle {
    border-color: #68abf4;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: #68abf4;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
}

.navbar .navbar-collapse, .navbar .navbar-form {
    border-color: #ecf0f1;
}

.navbar .navbar-link {
    color: #ecf0f1;
}

.navbar .navbar-link:hover {
    color: #fff4f4;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fff4f4;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fff4f4;
        background-color: #68abf4;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fff4f4;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fff4f4;
        background-color: #68abf4;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fff4f4;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fff4f4;
        background-color: #68abf4;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #fff4f4;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #fff4f4;
        background-color: #68abf4;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fff4f4;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fff4f4;
    background-color: #68abf4;
}

.owned-ingr {
    color: green;
    font-weight: bold;
}

.miss-ingr, .help-block {
    color: red;
}

.has-error>input, .has-error>input:focus {
    border-color: red;
    border-width: 1px;
    background: rgba(255, 0, 0, 0.05);
}

.has-error>label {
    color: red;
}